<li class="restaurant-item">
    <article>
      <h2> <%= restaurants.name %> </h2>
      <div class="restaurant-meta">
        <p><%= restaurants.cuisine %></p>
        <p><%= restaurants.address %></p>
      </div>
      <p>
        <%= restaurants.description %>
      </p>
      <div class="restaurant-actions">
        <a href="/restaurants/<%= restaurants.id %>">View Website</a>
      </div>
    </article>
  </li>