<%- include("includes/head")%>
<link rel="stylesheet" href="/style/post.css">
<link rel="stylesheet" href="/style/postlist.css">

</head>
<body>
    <%- include("includes/header")%>

    <section id="post-section">
        <p> author PenName</p>
        <%= post.authorPenName%>
        <p> author email</p>
        <%= post.authoremail%>
        <p> time </p>
        <%= post.time%>
        <p> text</p>
        <%= post.text%>
    </section>
</body>
</html>