<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
    <h1> <%= fromDatabase.title %></h1>
    <section id="post-meta">
      <address>
        <a href="mailto: <%= fromDatabase.author.email %> "> <%= fromDatabase.author.name %></a>
      </address>
      <time datetime="<%= fromDatabase.date %>"> <%= fromDatabase.humandate %></time>
    </section>
    <hr>
    <section>
      <p id="body"><%= fromDatabase.body %></p>
    </section>
  </main>
</body>

</html>