<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("includes/head")%>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include("includes/header") %> 
    <%- include("includes/aside") %>
    <main>  
      <h1>Recommended restaurants</h1>
      <p>Find your next favorite restaurants with help of our other users!</p>
        <% if(numberOfRestaurant === 0){ %>
          <p> you are not have restaurant recommend</p>
        <% } else {  %>
          <p> how many restaurant you find <%= numberOfRestaurant %> restaurants</p>
          <ul id="restaurants-list">
            <% for(const restaurant of restaurants) { %>
              <%- include("includes/restaurantitem",{restaurant : restaurant}) %> 
                        <!-- 앞의 restaurant : restaurantitem에 적은 키 // 뒤의 restaurant : const restaurant 의 그것. -->
                        <!-- include도 render("참조위치", 키 : 밸류값) 와 같이 사용되기때문 [restaurantitem]의 키값에 밸류를 집어넣은것 -->
                        <!--    ex) render("참조값", {rid : restaurant.name}) 처럼 html안의 rid가 restaurant.name로 바뀌듯 -->
            <% }%>
        <%} %>

      </ul>
    </main>
  </body>
</html>
